.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 100px;
    width: 100%;
}

.container .left-panel {
    display: none;
    /* display: inline; */
    width: 20%;
    height: 100%;
    border: 1px solid #000;
}

.container .middle-panel {
    /* width: 45%; */
    width: 70%; 
    height: 100%;
    border: 1px solid #000;
}

.container .right-panel {
    width: 20%;
    height: 100%;
    border: 1px solid #000;
}

.container .tool-bar {
    width: 5%;
    height: 100%;
    border: 1px solid #000;
}
